##
# Extension for Contao Open Source CMS
#
# Copyright (c) 2014 Daniel Kiesel
#
# @package RESTfulWebservices
# @link    https://github.com/icodr8/contao-restful-webservices
# @license http://www.gnu.org/licenses/lgpl-3.0.html LGPL
##

##
# URL rewriting
##
<IfModule mod_rewrite.c>
  RewriteEngine On

  ##
  # If you want to use only https
  ##
  #RewriteCond %{HTTP_HOST} !=localhost
  #RewriteCond %{HTTPS} off
  #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  ##
  # No matter what url is called, use the index.php
  ##
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule .* index.php [L]
</IfModule>
